<footer>
   <div class="well well-lg" id="footer-well">
      <div class="container">
      <div class="row">
           <div class="col-sm-4">
               <div id="RecentComments" class="dsq-widget">
                <h3 class="fa fa-comments fa-lg" style="margin-bottom:0.5px;">最近的評論</h3>
                <script type="text/javascript" src="http://{{ DISQUS_SHORTNAME }}.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=100"></script>
               </div>

           </div>
           <div class="col-sm-4">
               <h3 class="fa fa-external-link-square fa-lg" style="margin-bottom:0.5px;">網路連結</h3>
               </br>
               <ul style="list-style-type:circle">
                {% for name, link in LINKS %}
                <div style="margin-bottom: 10.5px; margin-top: 10.5px; font-size: 19px;">
                  <li>
                    <a href="{{ link }}" target="_blank">
                        {{ name }}
                    </a>
                  </li>
                <div>
                {% endfor %}
               </ul>

           </div>
           <div class="col-sm-4">
               {% if ABOUT_ME %}
                   {% include 'includes/aboutme.html' %}

               {% endif %}
           </div>
      </div>
      <div class="row">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10">&copy; {{ copy_date }} {{ AUTHOR }}
            &middot; Powered by <a href="http://python.org/" target="_blank">Python</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            a customized <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
            <br/>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> 除另有標示，本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">創用 CC 姓名標示-非商業性-相同方式分享 4.0 國際 授權條款</a>授權。
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">回到頁頂</a></p></div>
      </div>
   </div>
   </div>
</footer>