{% if TWITTER_CARDS and USE_OPEN_GRAPH %}
    {# Do not include duplicates tag with og ones. #}
    {# Twitter is able to infer them from og. #}
            <meta name="twitter:card" content="summary">
    {% if TWITTER_USERNAME %}
            <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
            <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    {% endif %}
            <meta name="twitter:domain" content="{{ SITEURL }}">
    {% if article %}
        {% if article.image %}
            <meta name="twitter:image" content="{{ SITEURL }}/media/{{ article.image }}"/>
        {% else %}
            <meta name="twitter:image" content="{{ SITEURL }}/media/featured_image.jpg"/>
        {% endif %}
    {% elif page %}
        {% if page.image %}
            <meta name="twitter:image" content="{{ SITEURL }}/media/{{ page.image }}"/>
        {% else %}
            <meta name="twitter:image" content="{{ SITEURL }}/media/featured_image.jpg"/>
        {% endif %}
    {% elif  OPEN_GRAPH_IMAGE %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
{% endif %}
