{% extends "article_list.html" %}

{% block title %}{{ author }} 的文章 - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <ol class="breadcrumb">
            <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i>首頁</a></li>
            <li><a href="{{ SITEURL }}/{{ AUTHORS_URL|default('authors.html') }}" title="Authors">作者</a></li>
            <li class="active">{{ AUTHOR }}</li>
        </ol>
    {% endif %}
{% endblock %}
