{% extends "article_list.html" %}
{% block title %}{{ category|mytrans }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a  itemprop="item" href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i>
                <span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a  itemprop="item" href="{{ SITEURL}}/{{ CATEGORIES_URL }}" title="{{ SITENAME }} 文章分類">
                <span itemprop="name">文章分類</span></a>
                <meta itemprop="position" content="2" />
        </li>
        <li class="active">{{ category|mytrans }}</li>
    </ol>
    {% endif %}
{% endblock %}
