{% extends "article_list.html" %}


{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="我是山姆鍋，過去擔任過軟體工程師、系統分析師、架構師、研發副總等工作。 「我是山姆鍋」是我的個人部落格，記錄與分享一些軟體開發與運營相關資訊，偶爾也會碎念一下。" />
    <meta name="keywords" content="agile, lean, software development, testing, deployment, delivery, integration, operations" />
{% endblock %}

{% block banner %}
	{% include 'includes/banner.html' %}
{% endblock %}

{% block footer %}
{% include 'includes/custom/footer_index.html' %}
{% endblock %}

{% block scripts %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://samkuo.me/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://samkuo.me/search.html?q={search_term_string}",
            "query-input": "required search_term_string"
        }
    }
    </script>

    <script type="text/javascript">
    if (window.applicationCache) {
        window.applicationCache.addEventListener('updateready', function() {
            if (confirm('新的內容已經下載，是否要刷新頁面?')) {
                window.location.reload();
            }
        });
    }
    </script>

{% endblock %}