{% extends "base.html" %}
{% block title %}文章匯整 - {{ SITENAME }}{% endblock %}

{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="我是山姆鍋，過去擔任過軟體工程師、系統分析師、架構師、研發副總等工作。 「我是山姆鍋」是我的個人部落格，記錄與分享一些軟體開發與運營相關資訊，偶爾也會碎念一下。" />
    <meta name="keywords" content="agile, lean, software development, testing, deployment, delivery, integration, operations" />
{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">{{ period | reverse | join(' ') }} 文章匯整</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <h1>{{ period | reverse | join(' ') }}年文章匯整</h1>
        <div id="archives">
            {% for article in dates %}
                <p>
                    <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
                </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
