{% extends 'base.html' %}

{% block title %}
搜尋 - {{ super() }}
{% endblock %}

{% block scripts %}
    {% if 'assets' in PLUGINS %}
    <script type="text/javascript" src="{{ SITEURL }}/tipuesearch_content.js"></script>
    {% include 'includes/minify_tipuesearch.html' with context %}
    {% else %}
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.js"></script>
    {% endif %}
    <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'static',
        'show': 10,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.js'
      });
    });
    </script>
    <script type="text/javascript">
    $('#tipue_search_box').submit(function(ev) {
        ev.preventDefault();
        q = $('#tipue_search_input2').val()
        url = window.location.href
        pathArray = location.href.split( '/' );
        protocol = pathArray[0];
        host = pathArray[2];
        url = protocol + '//' + host;
        window.location = url + '/search.html#' + q
    });
    </script>
{% endblock %}

{% block content %}
<h1 class="entry-title">{% trans %}搜尋文章{% endtrans %}</h1>
<form id='tipue_search_box' action="{{ SEARCH_URL | default('/search.html') }}">
<hr/>
<div id="tipue_search_content"></div>
{% endblock %}
