{% extends 'base.html' %}

{% block title %}
搜尋 - {{ super() }}
{% endblock %}

{% block scripts %}
    {% if 'assets' in PLUGINS %}
    <script type="text/javascript" src="{{ SITEURL }}/tipuesearch_content.js"></script>
    {% include 'includes/minify_tipuesearch.html' with context %}
    {% else %}
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.js"></script>
    {% endif %}
    <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'static',
        'show': 10,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.js'
      });
    });
    </script>
{% endblock %}

{% block content %}
<div id="tipue_search_content"></div>
{% endblock %}
