{% extends "article_list.html" %}
{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="Sampot (山姆鍋)" />
    <meta name="keywords" content="{{ tag }}" />
    <meta name="description" content="具有 {{ tag }} 標籤的文章列表" />
{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i>
                <span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ SITEURL }}/{{ TAGS_URL }}" title="Tags">
                <span itemprop="name">標籤</span></a>
                <meta itemprop="position" content="2" />
        </li>
        <li class="active">{{ tag }}</li>
    </ol>
    {% endif %}
{% endblock %}
