<hr/>
<div class="vcard author author_info">
    <div class="author_photo pull-left">
        <img alt='Sam Kuo (山姆鍋)' src='/images/logo.png' class='avatar avatar-60 photo' height='60' width='60'/>
    </div>
    <div class="author-description">
        <h4><a class="fn url" target='_blank' href="https://plus.google.com/110588163551765819160?rel=author" title="由 Sam Kuo (山姆鍋) 發表" rel="author">Sam Kuo (山姆鍋)</a> <small>-- 關注開源軟體發展，喜歡資訊科技應用 --</small></small> </h4>
        <a href="https://github.com/sampot" target='_blank' class="btn btn-default btn-xs" role="button"><span class="fa fa-github-square"></span> GitHub</a>
         <a href="https://twitter.com/sampotkuo" target='_blank' class="btn btn-default btn-xs" role="button"><span class="fa fa-twitter-square"></span> Twitter</a>
        <a href="https://tw.linkedin.com/in/sampot" target='_blank' class="btn btn-default btn-xs" role="button"><span class="fa fa-linkedin-square"></span> LinkedIn</a>
    </div>
</div>