        {% if not articles_page.has_previous() %}
        <div class="row">
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail"><a href="{{ SITEURL }}/post/2015/09/insert-default-image-pelican-post/"><img class="img-thumbnail" src="/thumbnails/small/2015/09/plug-147943_640.png" alt="thumbnail"/></a></div>
                <h4><a href="{{ SITEURL }}/">如何在 PySide 顯示 QR Code</a></h4>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail"><a href="{{ SITEURL }}/post/2015/09/insert-default-image-pelican-post/"><img class="img-thumbnail" src="/thumbnails/small/2015/09/plug-147943_640.png" alt="thumbnail"/></a></div>
                <h4><a href="{{ SITEURL }}/">如何在 PySide 顯示 QR Code</a></h4>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail"><a href="{{ SITEURL }}/post/2015/09/insert-default-image-pelican-post/"><img class="img-thumbnail" src="/thumbnails/small/2015/09/plug-147943_640.png" alt="thumbnail"/></a></div>
                <h4><a href="{{ SITEURL }}/">如何在 PySide 顯示 QR Code</a></h4>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail"><a href="{{ SITEURL }}/post/2015/09/insert-default-image-pelican-post/"><img class="img-thumbnail" src="/thumbnails/small/2015/09/plug-147943_640.png" alt="thumbnail"/></a></div>
                <h4><a href="{{ SITEURL }}/">如何在 PySide 顯示 QR Code</a></h4>
            </div>
        </div>
        {% endif %}

