<footer>
   <div class="well well-lg" id="footer-well">
      <div class="container">
      <div class="row">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
<div class="fb-page" data-href="https://www.facebook.com/sampotkuo" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sampotkuo"><a href="https://www.facebook.com/sampotkuo">我是山姆鍋</a></blockquote></div></div>         <div class="col-xs-10">&copy; {{ copy_date }} {{ AUTHOR }}
            &middot; Powered by <a href="http://python.org/" target="_blank">Python</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            a customized <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
            <br/>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> 除另有標示，本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW">創用 CC 姓名標示-非商業性-相同方式分享 4.0 國際 授權條款</a>授權。<br/>
            <span id="last_modified_marker">網站更新時間: {{ SITEVER }}+00:00</span>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">回到頁頂</a></p>

         </div>
      </div>
   </div>
   </div>
</footer>