<footer>
   <div class="well well-lg" id="footer-well">
      <div class="container">
      <div class="row">
           <div class="col-sm-5">
               <h3 class="fa fa-twitter fa-lg" style="margin-bottom:0.5px;">我的推文</h3>
               <div id="twitter_timeline">
                 <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/{{ TWITTER_USERNAME }}" data-widget-id="{{TWITTER_WIDGET_ID}}">{{TWITTER_USERNAME}} 發送的推文</a>
               </div>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
           </div>

           <div class="col-sm-3">
               <h3 class="fa fa-external-link-square fa-lg" style="margin-bottom:0.5px;">我的連結</h3>
               <br/>
               <ul style="list-style-type:circle">
                {% for name, link in LINKS %}
                  <li>
                    <a href="{{ link }}" target="_blank">{{ name }}</a>
                  </li>
                {% endfor %}
               </ul>

               <br/>
               {% if SOCIAL %}
               <h3 class="fa fa-home fa-lg">我的社群</h3>
               <ul id="social_footer" style="list-style-type:circle">
                {% for s in SOCIAL %}
                    {% if s[2] %}
                        {% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
                    {% else %}
                        {% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
                    {% endif %}
                    {% if name_sanitized in ['flickr', 'spotify', 'stack-overflow', 'weibo'] %}
                        {% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-lg"' %}
                    {% else %}
                        {% set iconattributes = '"fa fa-' ~ name_sanitized ~ '-square fa-lg"' %}
                    {% endif %}
                  <li><a href="{{ s[1] }}" target="_blank"><i class={{ iconattributes }}></i> {{ s[0] }}</a></li>
                {% endfor %}
                </ul>

           {% endif %}
           </div>

           <div class="col-sm-4">
               {% if ABOUT_ME %}
                   {% include 'includes/aboutme.html' %}

               {% endif %}
           </div>
      </div>
      <div class="row">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10">&copy; {{ copy_date }} {{ AUTHOR }}
            &middot; Powered by <a href="http://python.org/" target="_blank">Python</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            a customized <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
            <br/>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> 除另有標示，本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW">創用 CC 姓名標示-非商業性-相同方式分享 4.0 國際 授權條款</a>授權。
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">回到頁頂</a></p></div>
      </div>
   </div>
   </div>
</footer>